// web font url
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');

// default font
$root-font-size: 10px;
$qfont-size: 1.6rem;

$max-size: 2.6rem;
$biggest-size: 2.2rem;
$bigger-size: 1.8rem;
$smaller-size: 1.4rem;
$smallest-size: 1.0rem;
$min-size: 0.6rem;

// web font

$default-font: 'Nanum Gothic', sans-serif;
$nps-font: 'Nanum Pen Script', cursive;
$bhs-font: 'Black Han Sans', sans-serif;
$jua-font: 'Jua', sans-serif;

// $font-h1: cursive;
// $font-h2: fantasy;
// $font-h3: monospace;
// $font-h4: sans-serif;


